body {
  font-family: "Open Sans", sans-serif;
}

nav {
  border-bottom: 0.15em solid rgb(54, 213, 213);
  text-align: center;
  font-size: 2em;
  margin: 1em;
}

.main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 2em;
  text-align: center;
}

.photo-container {
  flex-basis: 25%;
  padding: 25px;
  background-color: orange;
}

.desc-container {
  flex-basis: 25%;
  padding: 25px;
  background-color: limegreen;
}

.form-container {
  flex-basis: 25%;
  padding: 25px;
  background-color: blueviolet;
}

.trivia-container {
  flex-basis: 25%;
  padding: 25px;
  flex-direction: column;
  align-items: center;
  background-color: rgb(54, 213, 213);
}

.button-container {
  font-size: 1.2em;
}

p {
  font-size: larger;
}

label {
  font-size: 1.5em;
}

ol {
  padding-left: 0;
}

.crumb {
  margin-right: 2em;
  display: inline;
}

a {
  color: orange;
}

a:visited {
  color: crimson;
}

img {
  max-width: 90%;
}

input {
  margin-top: 10px;
}

button {
  margin: 0.5em;
}

.submit-button {
  background-color: orange;
  padding: 10px;
  font-size: 1.5em;
}

.big-yellow {
  background-color: orange;
  padding: 20px;
  font-size: larger;
}
